{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        {% include "accounts/dashboard_sidebar.html" %}
        <div class="col-md-9">
            <div class="card">
                <header class="card-header">
                    <strong class="d-inline-block mr-3">CHANGE PASSWORD</strong>
                    
                </header>
                <div class = card-body> 
                    <div>{% include 'includes/alerts.html' %}</div>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <form action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                                
                                <div class=" row col-md-12 mb-2">
                                    <label for="" class="form-label">Current Password</label>
                                    <input type="password" name = 'current_password' id="current_password" placeholder="Current Password" required class="form-control">
                                </div>
                                <div class="col-md-12 row mb-2">
                                    <label for="" class="form-label">Create New Password</label>
                                    <input type="password" name = 'new_password' id="new_password" placeholder="NEW Password" required class="form-control">
                                </div>
                                <div class="col-md-12 row mb-2">
                                    <label for="" class="form-label">Confirm New Password</label>
                                    <input type="password" name = 'confirm_new_password' id="confirm_new_password" placeholder="Confirm NEW Password" required class="form-control">
                                </div>
                                
                                <div class = 'row mt-3'>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-lg btn-outline-success">Change Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- card-body -->
                

            </div><!-- card  -->
        </div>
    </div>
</div>
<h1>welcome to edt_profile page</h1>
{% endblock %}
